<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vending Machine Web</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=7) }}">
</head>
<body>
  <header>
    <div class="container">
      <h1><a href="{{ url_for('index') }}">Vending Machine</a></h1>
      <nav>
        <a href="{{ url_for('admin_inventory') }}">Admin</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-wrap">
          {% for cat, msg in messages %}
          <div class="flash {{ cat }}">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>

  <footer><div class="container"><small>© 2025 Vending Web</small></div></footer>
</body>
</html>
